@model apotek.Models.Transaksi

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaksi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TglTransaksi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglTransaksi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalHarga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalHarga)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdApotekerNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdApotekerNavigation.IdApoteker)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdObatNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdObatNavigation.IdObat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPembeliNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPembeliNavigation.IdPembeli)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTransaksi" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
