@model apotek.Models.Transaksi

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaksi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TglTransaksi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglTransaksi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalHarga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalHarga)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdApotekerNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdApotekerNavigation.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdObatNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdObatNavigation.NamaObat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPembeliNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPembeliNavigation.UsernamePembeli)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTransaksi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
