@model IEnumerable<apotek.Models.Transaksi>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TglTransaksi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdApotekerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdObatNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPembeliNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TglTransaksi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdApotekerNavigation.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdObatNavigation.NamaObat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPembeliNavigation.UsernamePembeli)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransaksi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTransaksi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransaksi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
